.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-block-start: 4rem;
  padding-inline: 4rem;
  font-size: calc(10px + 2vmin);
  background-color: #282c34;
  color: white;
}

.App-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}